APP_ENV=dev
APP_VERSION=1.0.0

DATABASE_URL=postgres://<user>:<password>@<host>:<port>/<db>?sslmode=disable

AGGREGATION_SVC_ADDR=<host>:<port>
REPORT_SVC_ADDR=<host>:<port>

MINIO_ENDPOINT=<host>:<port>
MINIO_ACCESS_KEY=<minio-access-key>
MINIO_SECRET_KEY=<minio-secret-key>
